@media (max-width: 1024px){

}

@media (max-width: 991px){
    /* coustom class */
    .text-content{
        width:100;
    }

    .navbar-toggler {
        border: none;
        background-color: transparent;
    }
    
    .navbar-toggle-icon {
        font-size: 28px;
        color: #333;
    }
    
    /* Offcanvas Styling */
    #offcanvasNavbar {
        width: 250px;
        background-color: #fff;
        padding-top: 20px;
    }
    
    #offcanvasNavbar .navbar-nav {
        list-style: none;
        padding: 0;
    }
    
    #offcanvasNavbar .navbar-nav .nav-item {
        padding: 10px 0;
    }
    
    #offcanvasNavbar .navbar-nav .nav-link {
        font-size: 18px;
        color: #333;
        text-decoration: none;
    }
    
    #offcanvasNavbar .navbar-nav .nav-link:hover {
        color:var(--primary-color);
    }
    
    /* Main Button Style */
    .main-btn {
        background-color: var(--white-color);
        color:var(--primary-color);
        border-color: var(--primary-color);
       
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .main-btn:hover {
        background-color: var(--primary-color);
    }
    
    /* Logo inside the offcanvas */
    #navbar-logo {
        width: 100px; /* Adjust logo size as needed */
        height: auto;
        margin-bottom: 20px;
    }
    
    /* navbar brand */
    /* .navigation-wrap .navbar-brand img{
        height: 3.8125rem;
    }
    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    } */

    /* Banner Design */
    .top-banner{
        padding: 9.375rem 0 9.375rem;
    }

    /* carousel design */
    .testimonial-section .carousel-item .carousel-caption p{
        padding: 0;
    }
    
}

@media (max-width:767px){ 

    /* Custom css */
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 2rem;
        line-height: 2.0625rem;
    }
    /* top banner */
    .top-banner{
        padding: 10.875rem 0 9.375rem; 
    }

    /* story section */
    .story-section{
        height: auto;
        padding: 3rem 0;
    }

    /* carousel design */
    .testimonial-section .carousel-item{
        padding:11rem 3.125rem ;
    }

    /* newletter design */
    .newsletter{
        width: 75%;  
    }
    .newsletter .main-btn{
        width: 100%;
        margin-top: 1rem;
    }

    /* footer design */
    /* .footer .footer-link,
    .footer a i{
        padding: 0.07rem;
    } */
    
    .footer_wrapper{
        text-align: center;
        justify-content: center;
    }  
    .footer_wrapper .footer_logo img{
        max-width: 60%;
    }
    .footer_wrapper .footer_text p{
        line-height: 1.875rem;
    } 
    .counter-section .col-md-3{
        padding: 0.5rem 0.5rem 0.5rem;
        padding-top: 5rem;
       
    }
   
     
}  

@media (max-width:330px){

    /* carousel design */
    .testimonial-section .carousel-item{
        padding: 13rem 3.125rem;
    }
    .footer_wrapper{
        text-align: center;
        justify-content: center;
    }   
    .footer_wrapper .footer_logo img{
        max-width: 60%;
    }
    .footer_wrapper .footer_text p{
        line-height: 1.875rem;
    } 
    .counter-section .col-md-3{
        padding: 0.2rem 0.2rem 0.2rem;
        padding-top: 5rem;
    }
    .top-banner h1{
      font-size: 1.8rem;
      /* line-height: 25px; */
    }
    .story-section{
        padding-right: 1.3rem;
    }
}